.client {
	min-height: 100vh;
}

.client__title {
	padding-top: 40px;
	font-size: 40px;
	color: var(--white);
}

.client__info {
	padding-top: 20px;
	font-size: 30px;
	color: var(--white);
}

.client__img {
	width: 700px;
	height: 250px;
}

.client__list {
	padding-left: 30px;
}

.detail {
	font-size: 30px;
	color: var(--white);
	padding-top: 10px;
}