.more {
	min-height: 100vh;
}

.more__container {
	border-bottom: solid 5px var(--white);
}

.more__title {
	padding-top: 20px;
	font-size: 40px;
	color: var(--white);
}

.more__container {
	padding-top: 20px;
	padding-bottom: 40px;
	display: flex;
	justify-content: space-between;
}

.more__info {
	
	font-size: 30px;
	color: var(--white);
	width: 50%;
}

.more__img {
	width: 53%;
	min-height: 283px;
}