.structure {
	min-height: 100vh;
}

.structure__container {
	padding-bottom: 40px;
	border-bottom: solid 5px var(--white);
}

.structure__title {
	padding-top: 40px;
	font-size: 40px;
	color: var(--white);
}

.structure__info {
	padding-top: 20px;
	font-size: 30px;
	color: var(--white);
}

.structure__img {
	width: 60%;
}